{% if page.categories and page.categories != empty %}
<nav class="breadcrumbs">
  <span itemscope>
    <a href="{{ site.url }}{{ site.baseurl }}" itemprop="url">
      <span itemprop="title">Home</span>
    </a> ›
  </span>
  <span itemscope>
    <a href="{{ site.url }}{{ site.baseurl }}/categories#{{ page.categories | first | downcase | replace: ' ','-' }}" itemprop="url">
      <span itemprop="title">{{ page.categories | first | replace: '-',' ' | capitalize }}</span>
    </a>
  </span>
</nav><!-- /.breadcrumbs -->
{% endif %}
