{% if page.categories and page.categories != empty %}
<nav class="breadcrumbs">
  <span itemscope>
    <a href="{{ site.url }}{{ site.baseurl }}" itemprop="url">
      <span itemprop="title">Home</span>
    </a> ›
  </span>
  {% for category in page.categories %}
  <span itemscope>
    <a href="{{ site.url }}{{ site.baseurl }}/categories#{{ category | downcase | replace: ' ','-' }}" itemprop="url">
      <span itemprop="title">{{ category | replace: '-',' ' | capitalize }}</span>
    </a>
  </span>
  {% unless forloop.last %} ›{% endunless %}
  {% endfor %}
</nav><!-- /.breadcrumbs -->
{% endif %}
