<div class="disclaimer">
  <input type="checkbox" id="disclaimer-expand"/>
  <div class="disclaimer-collapse">
    <p>
      The information in this blog is designed to provide helpful information on the subjects discussed.
      The opinions expressed are those of each blog articles’ authors and are not the opinions of C.H.
      Robinson Worldwide, Inc. and/or its subsidiaries (“C.H. Robinson”). Comments made in any forums associated
      with this blog by C.H. Robinson employees or other third parties are strictly their own personal views made
      in their own personal capacity regarding the subjects discussed. The information available through this blog
      is provided “AS IS” without warranty of any kind, and no assurance is given that any statement contained in
      the blog is true, correct, or precise. C.H. Robinson does not accept any responsibility or liability for
      the accuracy, content, completeness, legality, or reliability of the information provided in this blog.
      C.H. Robinson shall not be liable for any loss or damage of whatever nature (whether direct, indirect,
      consequential or other), however arising, which may arise as a result of your use or this blog or the
      information contained in this blog. This blog may contain links to other blogs or websites owned by third
      parties. The content of such third party sites is not within C.H. Robinson’s control and C.H. Robinson cannot
      and will not take any responsibility for the information, content, or security of such third party websites.
      References, including but not limited to third party websites, are provided for informational purposes only and
      do not constitute the endorsement by C.H. Robinson of any website or any products or processes offered,
      promoted, sold or otherwise made available. C.H. Robinson does not warrant that such websites are free
      from computer viruses or anything else that has destructive properties.
    </p>
  </div>
  <label for="disclaimer-expand">Read More</label>
</div>
