<footer role="contentinfo" id="site-footer">
  <div class="wrap">
    {% if page.disclaimer == true %}{% include disclaimer.html %}{% endif %}
    <p class="copyright">&#169; 2018-{{ site.time | date: '%Y' }} {{ site.title }}</p>
    <p>
      {%- for link in site.data.footer -%}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = '/' | absolute_url %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" rel="nofollow">{{ link.title }}</a>{% unless forloop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endunless %}
      {%- endfor -%}
    </p>
    <img src="{{ '/images/footer-bg.jpg' | absolute_url }}" alt="C.H. Robinson Footer Background" />
  </div>
</footer>
