<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
{% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
{% if page.authors %}
{% assign author = site.data.authors[page.authors.first] %}{% else %}{% assign author = site.owner %}
{% endif %}
{% include open-graph.html %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

<link href="{{ site.url }}/atom.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Atom Feed">
<link href="{{ site.url }}/sitemap.xml" type="application/xml" rel="sitemap" title="Sitemap">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="cleartype" content="on">

<link href="https://fonts.googleapis.com/css?family=Titillium+Web:600,700|Yantramanav" rel="stylesheet">
<link rel="stylesheet" href="{{ site.url }}/css/main.css">
