<nav class="navbar navbar-expand-md">
  <a href="{{ site.url }}/" class="navbar-brand {% if page.url == '/' %}active{% endif %}">
    <img src="/images/chr-logo-white.svg" alt="C.H. Robinson"/><span class="site-title">Engineering Blog</span>
  </a>
  <button
    id="navbar-toggle"
    class="navbar-toggler lines-button x2"
    type="button"
    aria-controls="site-navigation"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="nav-lines"></span>
  </button>
  <div class="navbar-collapse collapse" id="site-navigation">
    <ul class="navbar-nav">
      {%- for link in site.data.navigation -%}
        {%- if link.url contains 'http' -%}
          {%- assign domain = '' -%}
        {%- else -%}
          {%- assign domain = site.url + site.baseurl -%}
        {%- endif -%}
        <li class="nav-item {% if page.url == link.url %}active{% endif %}">
          <a href="{{ domain }}{{ link.url }}" class="nav-link">{{ link.title }}</a>
          <span class="line"></span>
          <span class="line2"></span>
          <div class="circle"></div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</nav>
