{% assign author = include.author %}
<div class="author-image">
  {% if author.gravatar %}<img src="https://gravatar.com/avatar/{{ author.gravatar }}?s=240" alt="{{ author.name }}">
  {% elsif author.img %}{{ author.img }}
  {% else %}<img src="{{ site.url }}/images/bio-photo.png" style="width: auto;" alt="{{ author.name }}">{% endif %}
</div><!-- ./author-image -->
<div class="author-content">
  <h3 class="author-name">
    {%- if author.web -%}
      <a href="{{ author.web }}" itemprop="author" target="_blank">{{ author.name }}&nbsp;<i class="fa fa-external-link"></i></a>
    {%- else -%}
      <span itemprop="author">{{ author.name }}</span>
    {%- endif -%}
  </h3>
  <p class="author-bio">{{ author.bio }}</p>
</div><!-- ./author-content -->
