{% if page.author %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<div class="author-image">
  {% if author.gravatar %}<img src="https://gravatar.com/avatar/{{ author.gravatar }}?s=300" alt="{{ author.name }}">
  {% else %}<img src="{{ site.url }}/images/bio-photo.jpg" alt="{{ author.name }}">{% endif %}
</div><!-- ./author-image -->
<div class="author-content">
	<h3 class="author-name" >{{ site.data.messages.locales[site.locale].written_by }} {% if author.web %}<a href="{{ author.web }}" itemprop="author">{{ author.name }}</a>{% else %}<span itemprop="author">{{ author.name }}</span>{% endif %}</h3>
	<p class="author-bio">{{ author.bio }}</p>
</div><!-- ./author-content -->
