/* ==========================================================================
   Buttons
   ========================================================================== */

/*
   Default button .btn
   ========================================================================== */

.btn {
	display: inline-block;
	padding: 8px 20px;
	@include font-size(14);
	background-color: $color-blue-light;
	color: $white;
	text-decoration: none;
	border: 1px solid $color-blue-light;
	@include transition(background 0.2s, border 0.2s, color 0.2s);
	&:hover {
		color: $color-blue-light;
		background-color: $white;
    border-color: $color-blue-light;
	}
	&:active {
		// move button slightly on click
		@include transform(translateY(1px));
	}
}

/*
   Transparent button .btn-transparent
   ========================================================================== */

.btn-transparent {
  @extend .btn;
  background-color: transparent;
  color: $white;
  border-color: $white;
  &:visited {
    color: $white;
  }
  &:hover,
  &:active {
    color: $white;
    background-color: $color-blue-light;
    border-color: $color-blue-light;
  }
}

/*
   Inverse button .btn-inverse
   ========================================================================== */

.btn-inverse {
	@extend .btn;
	background-color: $white;
  border-color: $white;
	color: $text-color;
	&:visited {
		color: $text-color;
	}
	&:hover,
  &:active {
		color: $white;
		background-color: $text-color;
    border-color: $white;
	}
}

/*
   Info button .btn-info
   ========================================================================== */

.btn-info {
	@extend .btn;
	background-color: $info-color;
  border-color: $info-color;
	color: $white;
	&:visited {
		color: $white;
	}
  &:hover,
  &:active {
    color: $white;
		background-color: lighten($info-color, 10);
    border-color: lighten($info-color, 10);
	}
}

/*
   Warning button .btn-warning
   ========================================================================== */

.btn-warning {
	@extend .btn;
	background-color: $warning-color;
  border-color: $warning-color;
	color: $white;
	&:visited {
		color: $white;
	}
  &:hover,
  &:active {
    color: $white;
		background-color: lighten($warning-color ,10);
    border-color: lighten($warning-color ,10);
	}
}

/*
   Success button .btn-success
   ========================================================================== */

.btn-success {
	@extend .btn;
	background-color: $success-color;
  border-color: $success-color;
	color: $white;
	&:visited {
		color: $white;
	}
  &:hover,
  &:active {
    color: $white;
		background-color: lighten($success-color, 10);
    border-color: lighten($success-color, 10);
	}
}

/*
   Danger button .btn-danger
   ========================================================================== */

.btn-danger {
	@extend .btn;
	background-color: $danger-color;
  border-color: $danger-color;
	color: $white;
	&:visited {
		color: $white;
	}
  &:hover,
  &:active {
    color: $white;
		background-color: lighten($danger-color, 10);
    border-color: lighten($danger-color, 10);
	}
}

/*
   Social media buttons
   ========================================================================== */

.btn-social {
	$social:
    (facebook, $facebook-color),
		(flickr, $flickr-color),
		(foursquare, $foursquare-color),
		(google-plus, $google-plus-color),
		(instagram, $instagram-color),
		(linkedin, $linkedin-color),
		(pinterest, $pinterest-color),
		(rss, $rss-color),
		(tumblr, $tumblr-color),
		(twitter, $twitter-color),
		(vimeo, $vimeo-color),
		(youtube, $youtube-color);
	@extend .btn-inverse;
	color: $text-color !important;
	&:visited,
	&:active {
		color: $text-color;
	}
	border: 1px solid $border-color !important;
	@each $socialnetwork, $color in $social {
		i.fa-#{$socialnetwork} {
	    color: $color;
    }
	}
	@each $socialnetwork, $color in $social {
		&.#{$socialnetwork}:hover,
    &.#{$socialnetwork}:active {
      color: $white !important;
	    background: $color;
	    border-color: $color;
	    @each $socialnetwork, $color in $social {
				i.fa-#{$socialnetwork} {
			    color: $white;
		    }
			}
    }
	}
}
