// adapted from https://stackoverflow.com/a/33931219/3928053
.disclaimer {
  .disclaimer-collapse > p {
    @include font-size(14, no, 1.42857143);
  }

  #disclaimer-expand {
    display: none;
  }

  #disclaimer-expand + .disclaimer-collapse {
    max-height: 58px;
    overflow: hidden;
    transition: all .3s ease;
  }

  #disclaimer-expand:checked + .disclaimer-collapse {
    max-height: 600px;
  }

  label {
    color: $color-gray-light;
    text-decoration: underline;
    cursor: pointer;
  }

  label:hover {
    text-decoration: none;
  }
}
