/* ==========================================================================
   Page layout
   ========================================================================== */

/*
   Masthead
   ========================================================================== */

#masthead {
  display: flex;
  height: $masthead-height;
  background-color: $black;
	z-index: 5;
  padding: 0 72px 0 25px;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-1600px,0));
	}

  .site-title {
    display: inline-block;
    text-decoration: none;
    color: $white;
    font-family: $alt-font;
    font-weight: 700;
    @include font-size(20,no);
    text-transform: uppercase;
    line-height: $masthead-height; // half the height to center vertically

    &:hover {
      color: $color-blue-light;
    }

    img {
      margin-right: 10px;
      height: 50px;

      &.desktop {
        @media screen and (max-width: 599px) {
          display: none;
        }
      }

      &.mobile {
        @media screen and (max-width: 599px) {
          display: inline-block;
        }
      }
    }

    span {
      font-size: 1.2rem;
      vertical-align: middle;
    }
  }
}

/*
   Menus
   ========================================================================== */

.menu {
	li {
		float: left;
		&:last-child a {
			@include media($medium) {
				margin-right: 0; // remove spacing from last menu link
			}
		}
		a {
			// line hover effect
			position: relative;
			display: block;
			margin-right: $gutter;
			padding: (.25 * $masthead-height) 0 (.25 * $masthead-height) ;
			height: $masthead-height;
			font-family: $alt-font;
			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 2px;
				@include transition(width 0.3s);
			}
			&:before {
				width: 100%;
				background: transparent;
			}
			&:after {
				width: 0;
				background: $black;
			}
			&:active:after,
			&:hover:after {
				width: 100%;
			}
		}
	}
}

/* Top menu navigation */

.top-menu {
  margin-left: auto;
  li {
    position: relative;
    a {
      font-weight: 700;
      @include font-size(16, no);
      line-height: .5 * $masthead-height; // half the height to center vertically
      color: $color-blue-light;
      text-transform: uppercase;

      &:hover {
        color: $white;
      }
    }

    .circle {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      border: 1px solid #fff;
      background-color: #101820;
      position: absolute;
      bottom: -3px;
      margin-left: -5px;
      display: block;
      opacity: 0;
      left: 0;
      transition: all 1.5s;
      z-index: 10001;
    } /* END .circle */

    .line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background: #fff;
      transition: all 0.6s;
    } /* END .line */

    .line2 {
      position: absolute;
      bottom: 4px;
      left: 0;
      width: 0%;
      height: 1px;
      background: #fff;
      transition: all 0.9s;
    } /* END .line2 */

    &:hover {
      .circle {
        display: block;
        transform: translateX(40px);
        opacity: 1;
      }

      .line {
        width: 100%;
        background: #00A3E0;
      }

      .line2 {
        width: 75%;
        background: #0086D6;
      }
    } /* END hover effects */
  } /* END li */

  @media screen and (max-width: 1099px) {
    display: none;
  }
} /* END .top-menu */


/* Bottom menu navigation */

.bottom-menu {
	@include clearfix;
	font-weight: 700;
	a {
		color: lighten($black,30);
	}
}


/*
   Page wrapper
   ========================================================================== */

#page-wrapper {
	padding: 0 $gutter; // add white space for smaller screens
	@include size(100% 100%);
	-webkit-overflow-scrolling: touch;
	z-index: 2;
	@include transform(translate(0,0));
	@include transition(500ms cubic-bezier(.645,.045,.355,1.000));
	&.slide {
		@include transform(translate(-60rem,0));
	}
}

/*
   Main content
   ========================================================================== */

#main {
	.inner-wrap {
		@include media($medium) {
			@include span-columns(9);
		}
	}
	.page-title {
		@include fill-parent;
	}
	@at-root {
		.page-content {
			@include fill-parent;
			// larger font for intro paragraph
			> p {
				&:first-child {
					@include font-size(20,yes,30);
				}
			}
			// cleaner underlines for links
			a { text-decoration: none; }
			p a,
			li a,
      .pagination a {
				border-bottom: 1px dotted lighten($link-color, 50);
				&:hover {
					border-bottom-style: solid;
				}
			}
			p > a.reversefootnote {
				border-bottom-width: 0;
			}
      .toc li > a {
        border-bottom-width: 0;
      }
			.page-footer,
			.pagination {
				@include fill-parent;
			}
			.page-meta {
				p{
					@include font-size(14,no);
					font-family: $alt-font;
					color: lighten($black,30);
				}
			}
		}
	}
	@at-root {
		.archive-wrap {
			@include fill-parent;
			.page-content {
				@include reset-all;
				@include fill-parent;
			}
		}
	}
  /* advertisements */
	.ads {
		position: relative;
		text-align: center;
		margin-top: $gutter;
		margin-left: -$gutter;
		margin-right: -$gutter;
		padding: 10px 0 20px;
		background: lighten($border-color,5);
		@include media($medium) {
			@include span-columns(3);
			margin-left: 0;
			margin-right: 0;
		}
		&:after {
			content: 'Advertisement';
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			display: block;
			@include font-size(9,no);
			font-family: $alt-font;
		}
		ins {
			border-width: 0;
		}
	}
}
// page lead
.page-lead {
	background-position: center bottom;
	background-repeat: no-repeat;
	text-align: center;
	color: $white;
	@include media($large) {
		background-size: cover;
	}
}
.page-lead-content {
	padding: 1em;
	@include media($medium) {
		padding: 2em;
	}
	@include media($large) {
		padding: 3em;
	}
	h1 {
		@include font-size(48);
		@include media($medium) {
			@include font-size(60);
		}
		@include media($large) {
			@include font-size(72);
		}
	}
	h2 {
		@include font-size(20);
		@include media($medium) {
			@include font-size(24);
		}
		@include media($large) {
			@include font-size(32);
		}
	}
}
// page header
.page-feature {
	@include fill-parent;
	// expand image to cover full width of header
	img {
		width: 100%;
	}
}
// make image flush with edges on small screens
.page-image {
	position: relative;
	margin-left: -1 * $gutter;
	margin-right: -1 * $gutter;
	// feature image caption
	.image-credit {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		padding: 10px 15px;
		background-color: rgba($black,.5);
		color: $white;
		font-family: $alt-font;
		@include font-size(12,no);
		text-align: right;
		z-index: 10;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

/*
   Page footer
   ========================================================================== */

.page-footer {
	position: relative;
}

/* Author block */

.author-image {
	position: absolute;
	left: 0;
	img {
		width: 80px;
		height: 80px;
		border-radius: $border-radius;
	}
}
.author-content {
	word-wrap: break-word;
	padding-left: 100px; //avatar width + 20px padding
	min-height: 80px; //mirrors avatar height
    margin-bottom: 20px;
}
.author-name {
	@include font-size(20,no);
}
.author-bio {
	margin-top: 0;
	@include font-size(16);
}

/*
   Site footer
   ========================================================================== */

#site-footer {
	@include outer-container;
	margin-top: (3 * (0px + $doc-line-height));
	margin-top: (3 * (0rem + ($doc-line-height / $doc-font-size)));
	padding-bottom: $gutter;
	font-family: $alt-font;
	.legal {
		color: lighten($black,30);
		border-top: 1px #e1e4e8 solid !important;
		/* Copyright text */
		.copyright {
			a {
				text-decoration: none;
			}
		}
		p {
			@include font-size(12);
			line-height: normal;
		}
    @import "_disclaimer";
	}
}

.mobile {
  display: none;
}

/*
   Aside
   This will be aligned correctly when the main section is wrapped in an .inner-wrap
   See /index.html for an example
   ========================================================================== */

aside {
  position: relative;
  float: right;
  //margin-top: $gutter;
  margin-left: -$gutter;
  margin-right: -$gutter;
  //padding: 10px 0 20px;
  background: lighten($border-color,10);
  @include media($medium) {
    @include span-columns(3);
    margin-left: 0;
    margin-right: 0;
  }

  .entry {
    margin-left: $gutter;
    margin-right: $gutter;
  }
}

.clearfix {
  @include clearfix;
}

/*
   Article Tags
   ========================================================================== */

ul.tags {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

/*
   Article Series
   ========================================================================== */

aside.series {
  position: relative;
  margin-top: $gutter;
  padding: 20px;
  background: lighten($border-color,5);
  border: 1px solid $border-color;
  float: none;
  @include media($medium) {
    @include span-columns(3);
    float: right;
    margin-left: 0;
    margin-right: 0;
  }
  h4 {
    margin-top: 0;
  }
  ol {
    padding-left: 20px;
    margin-bottom: 0;

    li:last-child {
      margin-bottom: 0;
    }
  }
  a {
    text-decoration: none;
    border-bottom: 1px dotted lighten($link-color, 50);
    &:hover {
      border-bottom-style: solid;
    }
  }
  p {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

/*
   Flex list
   ========================================================================== */

ul.flex-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    margin: .25rem;
  }
}
