<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}
    {% include navigation-sliding.html %}

    {% if page.image.feature %}
    <div class="page-lead" style="background-image:url({{ site.url }}/images/{{ page.image.feature }})">
      <div class="wrap page-lead-content">
        <h1>C.H. Robinson Engineering Blog</h1>
        <a href="{{ site.url }}/who-we-are/" class="btn-inverse">Who We Are</a> &nbsp; or &nbsp; <a href="https://github.com/ch-robinson" class="btn-inverse">Visit Us on GitHub</a>
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->
    {% endif %}

    <div id="page-wrapper">
      {% include browser-upgrade.html %}

      <div id="main" role="main">
        <div class="wrap">
          <div class="page-title">
            <h1>{{ page.title }}</h1>
            {% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
          </div>
          <div class="archive-wrap">
            <div class="page-content">
              {{ content }}
            </div><!-- /.page-content -->
          </div><!-- /.archive-wrap -->
        </div><!-- /.wrap -->
      </div><!-- /#main -->

      {% include footer.html %}
    </div>

    {% include scripts.html %}

  </body>

</html>
